/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2014, 16:40:21
    Author     : murdoc
*/

body{
    margin-top: 40px;
}

.navbar form{
    margin-top: 0px;
     margin-bottom: 0px; 
}

#itemListPanel {
    max-height: 600px;
    overflow-y: auto;   
}