/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2014, 16:40:21
    Author     : murdoc
*/

body{
    margin-top: 40px;
}

.navbar form{
    margin-top: 0px;
    margin-bottom: 0px; 
}

#itemListPanel {
    max-height: 600px;
    overflow-y: auto;   
}

#listnavbar{
    margin-bottom: 5px;
}

/* viewport */
.viewport-cell-a{
    height: 80px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.viewport-cell-b{
    height: 0px;
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

/* for variant 2 */
.mypanel {
    height: 130px;
    /*min-height: 200px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}
.mypanel > .panel{
    height: 100%;
}